*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.challenge1{
    margin: 4em 0 5em;
}

.ageInDay{
    margin:0 auto;
}

.ageInDay__buttons{
    display: flex;
    width: 30%;
    flex: wrap;
    margin:0 auto;
    justify-content: space-evenly;
}

#clickMe{
    padding: 1em 2.6em;
    font-size: 1.1em;
    outline:none;
    background-color: coral;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border: none;
}



#reset{
    padding: 1em 2.6em;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 10px;
    outline:none;
    background-color: teal;
    font-weight: bold;
    color: white;
    border: none;
}


#clickMe:hover{
    padding: .7em 3em;
    transition:  .5s all ease-in-out;
    font-size: 1.1em;
    outline:none;
    background-color: black;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border: none;
}


#reset:hover{
    padding: .7em 3em;
    transition:  .5s all ease-in-out;
    font-size: 1.1em;
    outline:none;
    background-color: black;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border: none;
}


#gifGenButton{
    padding: 1em 2.6em;
    cursor: pointer;
    font-size: 1.1em;
    outline:none;
    background-color: crimson;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    border: none;
}


#gifGenButton:hover{
    padding: 1em 3em;
    font-size: 1.1em;
    transition:  .5s all ease-in-out;
    outline:none;
    background-color: black;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border: none;
}

#clearButton{
    padding: .7em 2.6em;
    cursor: pointer;
    font-size: 1.1em;
    outline:none;
    background-color: goldenrod;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    border: none;
}

#clearButton:hover{
    padding: .7em 3em;
    transition:  .5s all ease-in-out;
    font-size: 1.1em;
    outline:none;
    background-color: black;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border: none;
}
.gifs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:0 auto;
    margin-top: 3em;
    width: 70%;
}

.gifs img{
    padding: 1em;
    width: 25%;
}

h2{
    font-weight: 400;
}

.rps-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto;
    place-items: center;
    margin-top:3em;
    margin-bottom: 3em;
}

.rps-icons img{
    display: block;
    padding: 1em;
    margin-bottom: 3em;
    cursor: pointer;
}

.rps-icons img:hover{
    transition: .2s all ease-in-out;
    padding: .5em;
}
